:root {
  --beep-success: #47bd8f;
  --beep-danger: #ff5c5d;
  --beep-secondary: #5c5c5c;
  --beep-primary: #ff5c5d;
  --beep-dark: #1b1b1b;
  --beep-light-dark: #555555;
  --beep-light: #ffffff;
  --ion-dark-transparent: rgba(27, 27, 27, 0.5);
  --border-width: 0;
  --ion-padding: 0;
}

:root ion-back-button {
  --color: var(--beep-danger);
}

:root ion-button,
:root ion-button.button-clear,
:root ion-button.button.button-clear.button-md.button-clear-md {
  --color: var(--beep-danger);
  --color-activated: var(--beep-danger);
  text-transform: none;
}

:root[mode='md'] {
  --ion-font-family: Arial, sans-serif;
}

:root[mode='ios'] {
  --ion-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto', sans-serif;
}

:root .beep-color-light {
  --color: var(--beep-light);
}

.beep-breach-item {
  --padding-start: 0;
  --ion-color-shade: rgba(0, 0, 0, 0.15);
  --inner-border-width: 0;
  --border-width: 0 0 0.55px 0;
}

.beep-modal-content-padding > h1 {
  color: var(--beep-dark);
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.6px;
}

.beep-modal-content-padding > p,
.beep-modal-content-padding > ul {
  color: var(--beep-light-dark);
  font-size: 14px;
  letter-spacing: -0.34px;
  line-height: 26px;
  margin-bottom: 50px;
}

.beep-link {
  color: var(--beep-secondary);
  text-decoration: underline;
  transition-duration: 0.2s;
}

.beep-link:hover {
  cursor: pointer;
  color: var(--beep-primary);
}

.beep-result-title {
  height: 8vh;
  margin-top: 5vh;
  margin-bottom: 0;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: -1px;
  display: inline-block;
}

.beep-result-subtitle {
  height: 10vh;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

.beep-result-action {
  margin: 0 auto;
  height: 5vh;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.48px;
  line-height: 16px;
}

.beep-result-action.beep-link {
  color: var(--beep-light);
}

.beep-result-action.beep-link:hover {
  opacity: 0.5;
}

@media screen and (min-height: 650px) {
  .beep-result-title {
    font-size: 40px;
  }

  .beep-result-subtitle {
    font-size: 20px;
  }

  .beep-result-action {
    font-size: 20px;
    line-height: 20px;
  }
}

.beep-inline-icon {
  float: left;
  width: 1.25rem;
  margin-right: 0.5rem;
}

ion-toolbar {
  --ion-toolbar-background-color: var(--beep-light);
}

.header-ios ion-toolbar:last-child {
  --border-width: 0;
}

.header-md::after {
  background-image: none;
}

ion-title {
  text-align: center;
}

.input-holder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

input:invalid {
  box-shadow: none;
}

#lottie {
  position: relative;
  width: 100%;
  height: 40vh;
}

div[style].cloned-input {
  opacity: 0 !important;
}

body,
html {
  height: 100vh;
}

/* iPhone support
 * first selector: X/Xs/X-MAX
 * second selector: XR
 */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3),
  only screen and (min-device-width: 414px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  html.plt-ios.plt-hybrid,
  html.plt-ios.plt-pwa {
    --ion-statusbar-padding: env(safe-area-inset-top);
  }
}
