:root,
:root[mode=md] {
    --beep-success: #47BD8F;
    --beep-danger: #FF5C5D;
    --beep-secondary: #5C5C5C;
    --beep-primary: #FF5C5D;
    --beep-dark: #1B1B1B;
    --ion-font-family: Lato, serif;
    --border-width: 0;
    --ion-padding: 0;
}

:root[mode=ios] {
    --ion-padding: 0;
    --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
}

.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

.header-md::after {
    background-image: none;
}

ion-title {
    text-align: center;
}
